html{
	width: 100%;
}
body{
	display: flex;
	width: inherit;
}

#root{
	width: inherit;
}
.App {
  display: flex;
  align-items: center;
  font-size: calc(10px + 2vmin);
  flex-direction: column;
  width: inherit;
}

.container{
	width: 100%;
	display: flex;
	flex-direction: column;
	text-align: center;
}

.section{
	display: flex;
	text-align: left;
}

#basicInfo{
	flex-direction: row;
	justify-content: flex-start;
}

.thumbnail{
	margin: 10px;
}

#basicTextInfo{
	margin-top: 10px;
	flex-direction: column;
	align-content: stretch;
}

.tabbedContainer{
	text-align: left;
}

.tabs{
	border: 1px solid #ccc;
	background-color: #f1f1f1;
}

.tab{
	background-color: inherit;
	border: none;
	outline: none;
	padding: 14px 16px;
}

.selected{
	background-color: yellow;
}

.infoTab{
	padding: 6px 12px;
	border: 1px solid #ccc;
	border-top: none;
	overflow-wrap: break-word;
	white-space: pre-line;
}

.hidden{
	display: none;
}

