.App {
  display: flex;
  align-items: center;
  font-size: calc(10px + 2vmin);
  flex-direction: column;
}

.container{
	width: 100%;
}

.tabs{
	overflow: hidden;
	border: 1px solid #ccc;
	background-color: #f1f1f1;
}

.tab{
	background-color: inherit;
	float: left;
	border: none;
	outline: none;
	cursor: pointer;
	padding: 14px 16px;
}
